/* --- Restaurant Specific CSS --- */
.pos .notebox {
    position: absolute;
    right: 2px;
}
.pos .notebox input {
    width: 250px;
    border: 1px solid #cecbcb;
    padding: 10px 20px;
    padding-left: 38px;
    margin: 6px;
    /* background: url("../img/search.png") no-repeat 15px; */
    background-color: white;
    border-radius: 20px;
    font-family: Lato;
    font-size: 13px;
}
.pos .notebox input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(153, 153, 255) inset;
    color: rgb(153, 153, 255);
}
.pos .note-clear {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 11px;
    left: 11px;
    cursor: pointer;
}

/* INICIO Intento agregar widget Mesa*/
.pos .sections {
    position: relative;
}
.pos .sections h4 {
    display: inline-block;
    margin: 9px 5px;
}

.pos .section-list {
    text-align: left;
    padding: 10px;
    background: rgb(229, 229, 229);
    border-bottom: 1px solid #cecece;
}
.pos .section-list.simple {
    padding: 0px;
    background: #cecece;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    border-bottom: none;
}

.pos .table-list {
    padding: 10px;
    text-align: left;
    -webkit-transform: translate3d(0,0,0);
}

.pos .table-list-scroller{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width:100%;
    height:100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);

}
.pos .table-list-container {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

/* FIN Intento agregar widget Mesa*/
