@charset "utf-8";

/* Color de los nombres del menu */
.openerp .oe_menu > li > a {
    color: #f4f4f4;    
}

/* Color de la barra de navegacion */
.openerp .oe_topbar {
    background-color: #0087f7;
    background-image: linear-gradient(to bottom, #0087f7, #0087f7);
    height: 32px;
    width: 100%;
}

.navbar-collapse.collapse {
    /*background-color: #0087f7;*/
    background-image: url(top_menu_bg.png);
    background-repeat: repeat-x;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* Configuracion de la barra de menus de la derecha */
.openerp .oe_leftbar {
    background: none repeat scroll 0 0 #ffffff;
    /*background-image: linear-gradient(to top, #f4f4f4, #fe2232));*/
    border-right: 1px solid #afafb6;
    display: none;
    padding-bottom: 16px;
    text-shadow: 0 1px 1px white;
    width: 220px;
}

/* Configuracion de la barra superior que esta al lado del logo */
.openerp .oe_view_manager_current > .oe_view_manager_header {
    background-color: #ededed;
    /*background-image: linear-gradient(to bottom, #0087f7, #666865);*/
    background-image: linear-gradient(to top, #00a256, #00a256);
    border-bottom: 1px solid #cacaca;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}

.openerp {
    color: #000000;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}


/*Your ODOO is not supported */

.openerp .announcement_bar {
    background-color: RED;
    background-size: 0 0;
    border: 0 none !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.38) inset;
    color: #ffffff;
    display: none;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    vertical-align: middle !important;
    width: 0;
}
